.titre1
{
    text-align: center;
    color: #cfcfcf;
    font-size: 100px;
    font-weight: bold;
    opacity: 1;
    margin-top: 50px;
}


p
{
    font-weight: bold;
}

.main 
{
    margin-left: 160px;
    padding: 0px 10px;
}
  
.bgimg 
{
    height: 100%;
    background-position: center;
    background-size: cover;
    position: relative;
    color: white;
    font-size: 25px;
    font-weight: bold;
}


  
.topleft 
{
    position: absolute;
    top: 0;
    left: 16px;
}
  
.bottomleft 
{
    position: absolute;
    bottom: 0;
    left: 16px;
}

.middle {
    position: relative;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
}
  
hr
{
    margin: auto;
    width: 40%;
}

section {
    width: 98vw;
    height: 100vh;
    overflow: hidden;
}

.anim {
    position: absolute;
    width: 100%;
    height: 25%;
    bottom: 10%;
}

.ml5 {
    position: relative;
    font-weight: bold;
    font-size: 75px;
    color: #cfcfcf;
  }
  
  .ml5 .text-wrapper {
    position: relative;
    display: inline-block;
    padding-top: 0.05em;
    padding-right: 0.05em;
    padding-bottom: 10px;
    line-height: 1em;
  }
  
  .ml5 .line {
    position: absolute;
    left: 0;
    top: 0;
    bottom: 0;
    margin: auto;
    margin-top: 40px;
    height: 3px;
    width: 100%;
    background-color: #cfcfcf;
    transform-origin: 0.5 0;
  }
  
  .ml5 .ampersand {
    /* font-family: Baskerville, "EB Garamond", serif; */
    font-style: italic;
    font-weight: 400;
    width: 1em;
    margin-right: -0.1em;
    margin-left: -0.1em;
  }
  
  .ml5 .letters {
    display: block;
    height: 50px;
    opacity: 0;
  }